<form method="post" action="/messages">
  <label for="message">Message:</label>
  
  <input type="text" id="message" name="message"><br><br>
  <input type="submit" value="Submit">
</form>
<ul>
  {{#each messages}}
  <li>
    {{message}}
  </li>
  {{/each}}
</ul>
